* {
    margin: 0px;
    padding: 0px;
    box-sizing: border box;
}

.myself { 
    width: 300px;
    margin-left: 1000px;
    margin-top: 83px;
    margin-bottom: -465px;
    border-radius: 10px;
    border: 4px solid palevioletred;
    box-shadow: 10px 10px palevioletred;
}

.header {
    top: 0px;
    left: 0px;
    width: 80%;
    padding: 10px 10%;
    background-image: linear-gradient(pink, rgb(209, 80, 106)) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-family: 'Cobin', sans-serif;
    position: fixed;
}


.header .navbar {
    display: flex;
    align-items: flex-end;
}
.header .navbar a {
    text-decoration: none;
    color: rgb(236, 19, 157);
    margin-right: 6px;
    @import url('https://fonts.googleapis.com/css2?family=Cabin&family=Oswald:wght@500&family=Outfit:wght@700;800&display=swap');
    font-weight: 900;
    display: flex;
    margin-right: -50px;
    margin-left: 80px;
    -webkit-text-stroke: 1px black;
}

.header .navbar a:hover {
    color: lavender; 
}

.ghub{
    width: 50px;
    margin-left: -70px;
}

.bodypage {
    -webkit-text-stroke: 1px rgb(133, 18, 108);
    color: rgb(238, 150, 164);
    margin-left: 90px;
    margin-top: 10px;
    font-size: xx-large;
    font-family: 'Paytone One', sans-serif;

  background-image: linear-gradient(#8b438a,#8b438a);
  background-repeat: no-repeat;
  background-position: -5px;
  background-size: 2px;
  transition: background-size .3s, background-position .3s ease-in .1s;
  }

.bodypage:hover {
    background-size: 60%;
    background-position: 0% 0%;
    transition: background-position .3s, background-size .3s ease-in .1s;
  }

.titdescin {
    margin-left: 83px;
    margin-top: 30px;
    padding-left: 10px;
    font-family: 'Concert One', sans-serif;
    color:rgb(124, 28, 124);
    transition: transform 0.5s;
    border-radius: 30px;
    background-color: hotpink;
    margin-right: 970px;
}
.titdescin:hover{
    transform: translate(4px, -6px);
}
.description {
    color: indigo;
    margin-top: 20px;
    margin-left: 83px;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Paytone One', sans-serif;
}

.desc2 {
    color: indigo;
    margin-top: 10px;
    margin-left: 103px;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Paytone One', sans-serif;

}

.edba {
    margin-left: 83px;
    margin-top: 30px;
    padding-left: 10px;
    font-family: 'Concert One', sans-serif;
    color:rgb(124, 28, 124);
    transition: transform 0.5s;
    border-radius: 30px;
    background-color: hotpink;
    margin-right: 900px;
}
.edba:hover{
    transform: translate(4px, -6px);
}

.edesc {
    color: indigo;
    margin-top: 20px;
    margin-left: 103px;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Paytone One', sans-serif;
}

.kpl {
    margin-left: 83px;
    margin-top: 30px;
    padding-left: 10px;
    font-family: 'Concert One', sans-serif;
    color:rgb(124, 28, 124);
    transition: transform 0.5s;
    border-radius: 30px;
    background-color: hotpink;
    margin-right: 790px;
}
.kpl:hover{
    transform: translate(4px, -6px);
}

.progpic { 
display: flex;
align-items: left;
justify-content: space-around;
margin: 40px -10px ;
}

.si {
    height: 90px;
    width: 90px;
    transition: transform 0.3s;
}

.cpp {
    height: 90px;
    width: 90px;
    transition: transform 0.3s;
}

.java {
    height: 120px;
    width: 180px;
    transition: transform 0.3s;
}

.htmlcss {
    height: 120px;
    width: 220px;
    transition: transform 0.3s;
}

.socmed {
    margin-left: 83px;
    margin-top: 30px;
    padding-left: 10px;
    font-family: 'Concert One', sans-serif;
    color:rgb(124, 28, 124);
    transition: transform 0.5s;
    border-radius: 30px;
    background-color: hotpink;
    margin-right: 910px;
}
.socmed:hover{
    transform: translate(4px, -6px);
}

.socpic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: 90px;
    
}

.fb{
    height: 95px;
    width: 95px;
    margin-right: -20px;
    transition: transform 0.3s;
  }

  .fb:hover{
    transform: translate(5px, -5px);
  }
  
  .ig{
    height: 120px;
    width: 120px;
    margin-right: 750px;
    transition: transform 0.3s;
  }
  
  .ig:hover{
    transform: translate(5px, -5px);
  }

  .gma{
    height: 90px;
    width: 120px;
    margin-left: -650px;
    transition: transform 0.3s;
  }

  .gma:hover{
    transform: translate(5px, -5px);
  }

body {
    margin-top: 75px;
    background-image: url('../images/sakura\ background.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
}

body:hover {
    opacity: 70;
}